{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="es"><script src="chrome-extension://eppiocemhmnlbhjplcgkofciiegomcon/content/location/location.js" id="eppiocemhmnlbhjplcgkofciiegomcon"></script><script src="chrome-extension://eppiocemhmnlbhjplcgkofciiegomcon/libs/extend-native-history-api.js"></script><script src="chrome-extension://eppiocemhmnlbhjplcgkofciiegomcon/libs/requests.js"></script><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
<!-- Google tag (gtag.js) -->
<script async="" src="/static/static_2/js/js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GE39EN1Y57');
</script>
    

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/static_2/img/logobreaker.png">
<title>Breaker Games</title>

<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;" name="viewport">

<link rel="stylesheet" href="/static/static_2/css/Style.css">
<meta name="facebook-domain-verification" content="8ukv6atapx5u3e8wrsx60q98e305c5">
</head>

<body class="home" style="background:url(&#39;/static/static_2/img/bg-pattern.jpg&#39;) no-repeat center top/cover;" width="device-width">
<header>
<div align="center">
<a><img src="/static/static_2/img/logobreaker.png" width="10%"></a>
</div>

<div class="wrapper">

<section class="columns">
	
	<div class="column">
		<div class="img-hover-zoom--slowmo">
		<a href="">
		<img class="img-col" src="/static/static_2/img/item1.png" alt="Todas las cartas sueltas">
		</a>
		</div>
	</div>
	
	<div class="column">
		<div class="img-hover-zoom--slowmo">
		<a href="">
		<img class="img-col" src="/static/static_2/img/item2.png" alt="Todos tus hobbys favoritos">
		</a>
		</div>
	</div>
  
  <div class="column">
		<div class="img-hover-zoom--slowmo">
		<a href="https://www.youtube.com/@breakergamessb">
		<img class="img-col" src="/static/static_2/img/item3.png" alt="Blog Magic4ever">
		</a>
		</div>
	</div>
	
	
</section>	
	
	<footer>
		<div>
		<center><a href="https://www.facebook.com/BreakerGames" target="_blank"><img src="/static/static_2/img/icon-fb.png"> <a href="https://www.instagram.com/breakergamessb/" target="_blank"><img src="/static/static_2/img/icon-ig.png"></a></a></center>		
		</div>
	</footer>
</div>
</body></html>
{% endblock %}